.Pole {/*親div*/
  position: relative;/*相対配置*/
  }

.Pole img {
  width: 40%;
  }

.Type3 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 49.4%;
    left: 20%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type3 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type3 input:checked+label{
    background: yellow;
    color: black;
}

.Type3 input{
    display: none;
}

.Type2_1 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 31%;
    left: 12%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type2_1 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type2_1 input:checked+label{
    background: yellow;
    color: black;
}

.Type2_1 input{
    display: none;
}

.Type2_2 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 67.8%;
    left: 12%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type2_2 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type2_2 input:checked+label{
    background: yellow;
    color: black;
}

.Type2_2 input{
    display: none;
}

.Type2_3 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 31%;
    left: 28%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type2_3 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type2_3 input:checked+label{
    background: yellow;
    color: black;
}

.Type2_3 input{
    display: none;
}

.Type2_4 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 67.8%;
    left: 28%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type2_4 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type2_4 input:checked+label{
    background: yellow;
    color: black;
}

.Type2_4 input{
    display: none;
}

.Type1_1 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 5.5%;
    left: 2.3%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type1_1 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type1_1 input:checked+label{
    background: yellow;
    color: black;
}

.Type1_1 input{
    display: none;
}

.Type1_2 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 49.4%;
    left: 2.3%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type1_2 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type1_2 input:checked+label{
    background: yellow;
    color: black;
}

.Type1_2 input{
    display: none;
}

.Type1_3 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 93.4%;
    left: 2.3%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type1_3 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type1_3 input:checked+label{
    background: yellow;
    color: black;
}

.Type1_3 input{
    display: none;
}

.Type1_4 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 5.5%;
    left: 37.6%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type1_4 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type1_4 input:checked+label{
    background: yellow;
    color: black;
}

.Type1_4 input{
    display: none;
}

.Type1_5 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 49.4%;
    left: 37.6%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type1_5 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type1_5 input:checked+label{
    background: yellow;
    color: black;
}

.Type1_5 input{
    display: none;
}

.Type1_6 {
    width: 55px;
    height: 55px;
    color: black;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    top: 93.4%;
    left: 37.6%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Type1_6 label{
    display: block;
    width: 50px;
    height: 50px;
    background: white;
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
}

.Type1_6 input:checked+label{
    background: yellow;
    color: black;
}

.Type1_6 input{
    display: none;
}